<div class="form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <!-- Name -->
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" >
      @if (registerForm.get('name')?.invalid && registerForm.get('name')?.touched) {
        <mat-error>{{registerForm.getError}}</mat-error>}
    </mat-form-field>
      
      

    <!-- Email -->
       <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email">
      <mat-error>{{registerForm.getError}}</mat-error>
    </mat-form-field>

<!-- password -->
      <mat-form-field>
      <mat-label>password</mat-label>
      <input type="password" matInput formControlName="password" >
      <mat-error>{{registerForm.getError}}</mat-error>
    </mat-form-field>

    <!-- password Confirmation-->
      <mat-form-field>
      <mat-label>Password Confirmation</mat-label>
      <input type="password" matInput mat formControlName="password_confirmation">
      <mat-error>{{registerForm.getError}}</mat-error>
    </mat-form-field>


    <!-- button -->
     <button type="submit" mat-stroked-button>Register</button>
  </form>
</div>